.drawflow-container {
  display: flex;
  height: 100%;
  text-align: initial;
  background-color: var(--color-base-300);
  background-size: 20px 20px;
  background-image: radial-gradient(var(--color-neutral) 1px, transparent 1px);
}
